---
---

/* colors */

$white: #fff;
$black: #000;
$puss: #ec5ed6;
$puffy: #fef4d6;

/* font */

$font-family: 'Open Sans', Arial, sans-serif;

$font-size-base: 12px;
$font-size-navigation: 15px;
$font-size-header: 25px;

$font-weight-regular: 400;
$font-weight-semibold: 700;

/* opacity */

$opacity-boxes: .7;
$opacity-kreski: .2;

/* layout */

$mobile-breakpoint: 600px;

/* animations */

@keyframes blinky {
  0%   { background-color: $puss; }
  100% { background-color: lighten($puss, 30%); }
}

/* mixins */

@mixin box() {
  padding: 3px;

  background-color: rgba($puffy, $opacity-boxes);
}

/* reset */

html,
body,
p,
ul,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

/* global */

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
    font-smoothing: antialiased;

    text-rendering: optimizeLegibility;
  }
}

::selection {
  color: $white;
  background-color: $puss;

  text-shadow: none;
}

html,
body {
  height: 100%;
  min-width: 320px;

  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;

  color: $puss;
}

body.home {
  height: auto;
}

a {
  color: inherit;

  text-decoration: none;

  &:hover {
    color: $white;

    background-color: $puss;

    animation-name: blinky;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  &.active {
    text-decoration: underline;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

/* kreski */

.kreski {
  position: fixed;

  top: 0;
  left: 0;

  z-index: -1;

  width: 100%;
  height: 100%;

  opacity: $opacity-kreski;
}

body.home {
  .kreski {
    opacity: 1;
  }

  .content {
    display: none;
  }
}

/* layout */

.wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  margin-top: 50px;
  margin-bottom: 25px;

  h1 {
    display: inline-block;

    > a {
      @include box();

      font-size: $font-size-header;
      font-weight: $font-weight-semibold;

      text-transform: uppercase;
    }
  }
}

.sidebar,
.container {
  float: left;
}

.sidebar {
  width: 25%;
}

.container {
  width: 75%;
  max-width: 600px;

  text-align: center;
}

.content, {
  @include box();

  display: inline-block;

  margin: 50px auto;

  padding-top: 1em;
  padding-bottom: 1em;
}

.content,
.media {
  text-align: right;

  line-height: 1.3;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: $font-weight-regular;

    text-transform: uppercase;

    + * {
      margin-top: 1em;
    }
  }

  p {
    font-size: inherit;

    + * {
      margin-top: 12px;
    }
  }

  ul,
  ol {
    float: right;

    li {
      text-align: left;
    }

    clear: both;
  }
}

.media {
  margin-top: 50px;
}

@media (max-width: $mobile-breakpoint) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sidebar,
  .container {
    width: 100%;
  }

  .container {
    padding-bottom: 50px;
  }
}

/* navigation */

.navigation {
  ul {
    margin: 0;
    padding: 0;

    list-style: none;
  }

  li {
    + li {
      margin-top: 30px;
    }

    > a {
      @include box();

      font-size: $font-size-navigation;
      font-weight: $font-weight-semibold;

      text-transform: uppercase;

      &:hover {
        color: $white !important;

        background-color: $puss;
      }
    }
  }

  @for $i from 2 through 5 {
    li:nth-child(#{$i}) a {
      color: lighten($puss, 4% * $i);
    }
  }
}

/* media */

.media-item {
  @include box();

  width: 45%;

  margin-bottom: 1em;

  float: left;

  display: inline-block;

  padding-top: 1em;
  padding-bottom: 1em;
}

.media-item:nth-child(2n) {
  margin-left: 10%;
}

.media-preview {
  display: table;

  width: 100%;
  height: 150px;

  text-align: center;

  cursor: pointer;

  background-color: rgba($puss, .1);
  background-size: cover;
  background-position: center;

  &::after {
    display: table-cell;

    content: '>';

    vertical-align: middle;

    font-size: 38px;
  }

  &:hover {
    opacity: .5;
  }
}

@media (max-width: $mobile-breakpoint) {
  .media-item {
    width: 100%;
  }

  .media-item:nth-child(2n) {
    margin-left: 0;
  }
}

/* player */

.media-player {
  position: fixed;

  display: none;

  width: 100%;
  height: 100%;

  left: 0;
  top: 0;

  z-index: 9999;

  background-color: rgba($puss, .8);

  &.visible {
    display: table;
  }
}

.media-content {
  display: table-cell;

  max-width: 50%;

  vertical-align: middle;

  iframe {
    max-width: 900px;
    margin: 0 auto;
  }
}

.media-close {
  position: fixed;

  top: 0;
  right: 0;

  padding: 20px;

  cursor: pointer;

  color: $white;

  &::after {
    display: inline;

    content: 'X';

    font-size: 30px;

    color: inherit;
  }

  &:hover {
    color: $puss;
  }
}

@media (max-width: $mobile-breakpoint) {
  .media-content {
    iframe {
      width: 100%;
    }
  }
}
