{% include header.html %}
{% include media-player.html %}
<div class="media">
{% for collaboration in site.data.collaborations %}
  <div class="media-item media-item--full">
    <h2>{{ collaboration.title }}</h2>
    {% if collaboration.description %}
      <p>{{ collaboration.description }}<p>
    {% endif %}
    {% if collaboration.url %}
      <div class="media-preview media-preview--larger" data-url="{{ collaboration.url }}"></div>
    {% endif %}
    {% if collaboration.picture %}
      <div class="media-picture media-preview--larger" style="background-image: url({{ collaboration.picture }})">
        {% if collaboration.picture_url %}
          <a class="media-picture-link" target="_blank" href="{{ collaboration.picture_url }}"></a>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endfor %}
</div>
{% include footer.html %}
